


<div class="container">
  <h1 class="my-4">My Tasks</h1>
  <% @tasks.each do |task| %>
  <ul class="list-inline">
    <li class="list-inline-item">
    <% if task.completed %>
      <i class="far fa-check-square"></i>
    <% else %>
      <i class="far fa-square"></i>
    </li>
    <% end %>
    <li class="list-inline-item">
    <%= link_to task.title, task_path(task) %>
    </li>
    <li class="list-inline-item">
    <%= link_to task_path(task), method: :delete, data: { confirm: 'Are you sure ?' }, :action => 'go' do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
    </li>
  </ul>
    <% end %>
  <hr>
  <ul class="add-task list-inline">
    <li class='list-inline-item'><i class="fas fa-plus "></i></li>
    <li class='list-inline-item'><%= link_to 'Add a new task', new_task_path %></li>
  </ul>

</div>



